@using Foosball.Controllers
@using Foosball.Utilities
@model List<Match>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="profile">
    <div class="results">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="text-left">Date</th>
                <th class="text-left">Match</th>
                <th class="text-center">Score</th>
            </tr>
            </thead>
            @foreach (Match match in Model)
            {
                <tr>
                    <td>@match.Date.ToSpecialString()</td>
                    <td>@match.Team1.Players[0] & @match.Team1.Players[1] vs @match.Team2.Players[0] & @match.Team2.Players[1]</td>
                    <td class="text-center">@match.Score</td>
                </tr>
            }
        </table>
    </div>
</div>