@using Foosball.Controllers
@model List<UserRank>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int rank = 0;
}

<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th class="text-left">Username</th>
            <th class="text-center">Rating</th>
            <th class="text-center">Points</th>
            <th class="text-center">Played</th>
            <th class="text-center">Won</th>
            <th class="text-center">Lost</th>
            <th class="text-center">W/L</th>
            <th class="text-center">Diff</th>
        </tr>
    </thead>
    @foreach (UserRank user in Model)
    {
        rank++;
        <tr>
            <td class="text-center">@rank</td>
            <td class="porel">
                <span class="poabs medal">
                    @if (rank == 1)
                    {
                        <img src="~/Content/images/gold-medal.png" />
                    }
                    else if (rank == 2)
                    {
                        <img src="~/Content/images/silver-medal.png" />
                    }
                    else if (rank == 3)
                    {
                        <img src="~/Content/images/bronze-medal.png" />
                    }
                </span>
                <span class="poabs cup">
                    @if (rank == 1)
                    {
                        <img src="~/Content/images/cup.png" />
                    }
                </span>
                <span class="frow">
                    <img class="img-circle" src="@string.Format("/content/images/players/{0}.png", @user.Username)" onerror="this.src='/content/images/players/fallback.png'" />
                </span>
                <span class="frow title">
                    <span class="user">
                        <a href="/user?q=@user.Username">
                            @if (user.Username == "ian.fo")
                            {
                                <span>ser ian.fo</span>
                            }
                            else
                            {
                                <span>@user.Username</span>
                            }
                        </a>
                    </span>
                    <span class="trend">
                        @{
                            int count = user.Trend.Count;
                            if (count < 5)
                            {
                                for (int i = 0; i < 5 - count; i++)
                                {
                                    user.Trend.Add("-");
                                }
                            }
                            else
                            {
                                user.Trend = user.Trend.GetRange(count - 5, 5);
                            }
                        }
                        @foreach (string trend in user.Trend)
                        {
                            <span class="@trend">@trend </span>
                        }
                    </span>
                </span>
            </td>
            <td class="text-center">@Math.Round(user.QualityScore, 2)</td>
            <td class="text-center">@user.Rating</td>
            <td class="text-center">@user.Played</td>
            <td class="text-center">@user.Won</td>
            <td class="text-center">@user.Lost</td>
            <td class="text-center @(user.Ratio >= 1 ? "W" : "L")">@decimal.Round(user.Ratio, 2, MidpointRounding.AwayFromZero)</td>
            <td class="text-center @(user.GoalDifference >= 0 ? "W" : "L")">@user.GoalDifference</td>
        </tr>
    }
</table>