@using Foosball.Controllers
@using Foosball.Utilities
@model UserProfile
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="profile">
    <div class="head">
        <div class="pic">
            <img class="img-circle img-bigger" src="@string.Format("/content/images/players/{0}.png", @Model.UserRank.Username)" onerror="this.src = '/content/images/players/fallback.png'" />
            <span class="name">#@Model.Rank @Model.Name</span>
        </div>
        <div class="stat text-left">
            <span class="trend">
                <span>Trend:</span>
                @{
                    Model.UserRank.Trend.Reverse();
                    List<string> topTenTrend = Model.UserRank.Trend.Take(20).ToList();
                    topTenTrend.Reverse();
                }
                @foreach (string trend in topTenTrend)
                {
                    <span class="@trend">@trend </span>
                }
            </span>
        </div>
        <div class="stat text-right">
            <span class="item">
                <span class="number">@Model.UserRank.Played</span>
                <span>Played</span>
            </span>
            <span class="item">
                <span class="number">@Model.UserRank.Won</span>
                <span>Won</span>
            </span>
            <span class="item">
                <span class="number">@Model.UserRank.Lost</span>
                <span>Lost</span>
            </span>
            <span class="item">
                <span class="number">@Model.UserRank.GoalDifference</span>
                <span>Difference</span>
            </span>
        </div>
    </div>
    <div class="content1">
        <div class="box">
            <h5 class="text-muted">Best Win</h5>
            @if (Model.BestMatch != null)
            {
                <h2 class="score">@Model.BestMatch.Score</h2>
                <p class="fixture">@Model.BestMatch.Team1.Players[0] & @Model.BestMatch.Team1.Players[1] vs @Model.BestMatch.Team2.Players[0] & @Model.BestMatch.Team2.Players[1]</p>
            }
            else
            {
                <p class="msg text-muted text-center">Aaaaah! No wins yet.</p>
            }
        </div>
        <div class="box">
            <h5 class="text-muted">Worst Lost</h5>
            @if (Model.WorstMatch != null)
            {
                <h2 class="score">@Model.WorstMatch.Score</h2>
                <p class="fixture">@Model.WorstMatch.Team1.Players[0] & @Model.WorstMatch.Team1.Players[1] vs @Model.WorstMatch.Team2.Players[0] & @Model.WorstMatch.Team2.Players[1]</p>
            }
            else
            {
                <p class="msg text-muted text-center">Woah! No defeats yet.</p>
            }
        </div>
        <div class="box">
            <h5 class="text-muted">Best Win Streak</h5>
            <h2 class="score">@Model.BestWinStreak</h2>
        </div>
        <div class="box">
            <h5 class="text-muted">Worst Losing Streak</h5>
            <h2 class="score">@Model.WortsLosingStreak</h2>
        </div>
    </div>
    <div class="results">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="text-left">Date</th>
                <th class="text-left">Match</th>
                <th class="text-center">Score</th>
                <th class="text-center">Result</th>
            </tr>
            </thead>
            @foreach (Match match in Model.RecentMatches)
            {
                bool isTeam1Player = match.Team1.Players.Any(x => x.Contains(Model.Name));
                bool isTeam2Player = match.Team2.Players.Any(x => x.Contains(Model.Name));

                List<string> score = match.Score.Split('-').ToList();
                bool hasTeam1Won = int.Parse(score[0]) > int.Parse(score[1]);
                bool hasTeam2Won = int.Parse(score[0]) < int.Parse(score[1]);

                bool matchWon = (isTeam1Player && hasTeam1Won) || (isTeam2Player && hasTeam2Won);

                <tr>
                    <td>@match.Date.ToSpecialString()</td>
                    <td>@match.Team1.Players[0] & @match.Team1.Players[1] vs @match.Team2.Players[0] & @match.Team2.Players[1]</td>
                    <td class="text-center">@match.Score</td>
                    <td class="text-center">
                        @if (matchWon)
                        {
                            <span>Won</span>
                        }
                        else
                        {
                            <span>Lost</span>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>